{# empty Twig template #}
{% extends "base.html.twig" %}
{% block body %}
    <script src="{{ asset('bundles/app/node_modules/angular/angular.js') }}"></script>
    <script src="{{ asset('bundles/app/node_modules/angular-resource/angular-resource.js') }}"></script>
    <script src="{{ asset('bundles/app/node_modules/angular-route/angular-route.js') }}"></script>
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
    <script src="{{ asset('bundles/app/js/services.js') }}"></script>
    <script src="{{ asset('bundles/app/js/controllers.js') }}"></script>
    
    <div ng-controller="AddPostmanCtrl">
        <form method="post" ng-submit="Submit()">
    <form name="postman" method="post" ><div id="postman"><div>
                <label for="postman_email" class="required">Email</label>
                <input type="email" ng-model="postman_email" id="postman_email" name="postman[email]" required="required" />
            </div>
            <div>
                <label for="postman_username" class="required">Username</label>
                <input type="text" ng-model="postman_username" id="postman_username" name="postman[username]" required="required" maxlength="255" pattern=".{2,}" />
            </div>
            <div>
                <label for="postman_plainPassword_first" class="required">Password</label>
                <input type="password" ng-model="postman_plainPassword_first" id="postman_plainPassword_first" name="postman[plainPassword][first]" required="required" />
            </div>
            <div>
                <label for="postman_plainPassword_second" class="required">Password confirmation</label>
                <input type="password" ng-model="postman_plainPassword_second" id="postman_plainPassword_second" name="postman[plainPassword][second]" required="required" />
            </div>
            <div>
                <label for="postman_name" class="required">Name</label>
                <input type="text" ng-model="postman_name" id="postman_name" name="postman[name]" required="required" maxlength="255" />
            </div>
                <div>
                    <label for="postman_phone" class="required">Phone</label>
                    <input type="text"  ng-model="postman_phone" id="postman_phone" name="postman[phone]" required="required" maxlength="255" />
                </div>
            <div>
                <label for="postman_city" class="required">City</label>
                <select  ng-model="postman_city" id="postman_city" name="postman[city]">            
                    <option value="8" >Szczecin</option>
                </select>
            </div>
            <div>
                <button type="submit" id="postman_save" name="postman[save]">Dodaj</button>
            </div>
            <input type="hidden" id="postman__token" name="postman[_token]" value="J-zgLwFjzpyMIkSW1CmRJFc9ErVKy-5et8AMeIfTeV8" />
        </div>
    </form>
</form>
    Result: {{ '{{ result }}' }}<br/>
    {{ '{{postman_email}}' }}
    {{ '{{postman_username}}'}}
    {{'{{postman_name}}'}}
    {{'{{postman_plainPassword_first}}'}}
    {{'{{postman_plainPassword_second}}'}}
    {{'{{postman_phone}}'}}
    {{'{{postman_city}}'}}
    </div>
{% endblock %}